# Asuna 开源项目精选

> 自动化管理与聚合优质开源项目。提交 Issue 即可自动收录。

{{define "RenderNode"}}
  {{$level := .Level}}
  {{range .Nodes}}
{{repeat "#" $level}} {{.Name}}

{{if .Projects}}
| 项目名称 | 描述 | 语言 | ⭐️ Stars |
| :--- | :--- | :--- | :--- |
{{range .Projects}}| [{{.Name}}]({{.URL}}) | {{.Description}} | {{.Language}} | {{dynamicStar .URL}} |
{{end}}
{{end}}

{{if .Children}}
{{template "RenderNode" dict "Nodes" .Children "Level" (add $level 1)}}
{{end}}
  {{end}}
{{end}}

{{template "RenderNode" dict "Nodes" . "Level" 2}}